@using DA_TT_Share.Models
@{
    ViewData["Title"] = "DanhSachDanhmuc";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<HangSanXuat> lsthangSX = ViewBag.hangSanXuats as List<HangSanXuat>;
}

<h1>Danh Sách Các Hãng LapTop</h1>

<table class="table" id="tb_hangsx">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên hãng
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lsthangSX)
        {
            int i = 1;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.TenHangSanXuat
                </td>
                <td>
                    @item.Desciption
                </td>
                @if (@item.TrangThai == 1)
                {
                    <td>
                        Còn Hoạt Động
                    </td>
                }
                else
                {
                    <td>
                        Tạm Ngưng
                    </td>
                }
                <td>
                    <a asp-action="HSXChiTiet" asp-controller="DanhMuc" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16"><path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" /><path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" /></svg>
                    </a>
                    <a asp-action="UpdateHSX" asp-controller="DanhMuc" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-primary">
                        <i class="fa-solid fa-pen-nib"></i>
                    </a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
@*Link datatable*@
<link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />


<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        // Khởi tạo DataTable
        var dataTable = $('#tb_hangsx').DataTable();
    });
</script>